.header-blog {
  background: url("../img/bg/header-blog.jpg") center center no-repeat;
  @include background-cover;
}

.header-blog-post {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.post {
  @include shadow-small;
  @include transition-all;
  &:hover {
    @include shadow;
    .blog-image-container {
      .blog-image {
        transform: scale(1.02);
        @include transition-all;
      }
    }
  }
  .blog-image-container {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    .blog-image {
      width: 100%;
      height: 12rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      @include transition-all;
      @include media-breakpoint-up(md) {
        height: 20rem;
      }
    }
    @include media-breakpoint-up(md) {
      height: 20rem;
    }
  }
  .post-info {
    background-color: white;
    padding: 2rem;
  }
  a {
    margin-top: -1rem;
  }
}

.blog-cat {
  padding: 2rem;
  border-radius: 10rem;
  @include shadow-small;
  @include transition-all;
  &:hover {
    @include shadow;
  }
}

.share-container {
  .box {
    background-color: white;
    padding: 2rem 1.5rem 1.5rem;
    @include shadow-small;
    @include transition-all;
    img {
      height: 2rem;
    }
    h2 {
      margin: 0;
    }
    &:hover {
      @include shadow;
    }
  }
}