.header-contact {
  background: url("../img/bg/header-contact.jpg") center center no-repeat;
  @include background-cover;
}

.price-box {
  padding: 2rem;
  @include shadow-small;
}

.contact-form {
  .captcha {
    margin-bottom: 2rem;
  }
  .form-group {
    margin-bottom: 2rem;
    input,
    textarea,
    select {
      padding: 1rem 1.5rem;
    }
    input.form-control {
      height: auto;
    }
    textarea {
      min-height: 9rem;
    }
  }
  .form-control {
    font-size: 1rem;
    border-radius: 0;
    border: none;
    @include shadow-small;
    @include transition-all;
    &:hover {
      @include shadow;
    }
    &:focus {
      @include shadow;
      outline: none;
    }
  }
  label {
    font-size: 1rem;
  }
  .invalid-feedback {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: $brand-danger;
  }
  .custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: $brand-danger;
  }
  .alert {
    padding: 0.5rem 0;
    margin: 0 auto 2rem;
    text-align: center;
    border-radius: 0;
    display: block;
    h4 {
      color: $brand-out-secondary;
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0.5rem 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    p {
      margin-top: 1rem;
    }
    &.alert-dismissible {
      .close {
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
      }
    }
  }
  .alert-success {
    background-color: transparent;
    color: $brand-success;
    font-weight: 800;
    font-size: 1rem;
    border-top: 2px solid $brand-success;
    border-bottom: 2px solid $brand-success;
    border-left: none;
    border-right: none;
    .close {
      color: $brand-success;
    }
  }
  .alert-warning {
    background-color: transparent;
    color: $brand-warning;
    font-weight: 800;
    font-size: 1rem;
    border-top: 2px solid $brand-warning;
    border-bottom: 2px solid $brand-warning;
    border-left: none;
    border-right: none;
    .close {
      color: $brand-warning;
    }
  }
  .alert-danger {
    background-color: transparent;
    color: $brand-danger;
    font-weight: 800;
    font-size: 1rem;
    border-top: 2px solid $brand-danger;
    border-bottom: 2px solid $brand-danger;
    border-left: none;
    border-right: none;
    .close {
      color: $brand-danger;
    }
  }
}

#map {
  width: 100%;
  height: 15rem;
  @include media-breakpoint-up(md) {
    height: 30rem;
  }
}