footer {
  padding: 8rem 0 4rem;
  .footer-logo {
    text-align: center;
    img {
      width: 15rem;
    }
  }
  .footer-call,
  .footer-find,
  .footer-email {
    margin: 1rem 0;
    color: $brand-primary;
    p {
      margin: 0;
    }
  }
  .footer-border-right {
    border: none;
    @include media-breakpoint-up(lg) {
      border-right: 2px solid $gray-lighter;
    }
  }
  .footer-social-media {
    .footer-social-media-icon {
      margin: 0 1rem;
      padding: 0.25rem 0.35rem;
      color: $brand-primary;
      line-height: 0;
      cursor: pointer;
      @include transition-all;
      &:hover {
        color: $brand-secondary;
      }
    }
  }
  .footer-link {
    border-bottom: 2px solid $brand-hover;
    &:hover {
      border-bottom: 2px solid $brand-secondary;
    }
  }
  .footer-bacp {
    width: 70%;
    @include media-breakpoint-up(sm) {
      width: 40%;
    }
    @include media-breakpoint-up(md) {
      width: 20%;
    }
  }
}