html,
body {
  width: 100%;
  font-size: 15px;
  @include body-font;
  color: $text-color;
  overflow-x: hidden;
  position: relative;
}

a {
  position: relative;
  @include transition-all;
  &:hover {
    text-decoration: none;
  }
}

.a-indoor {
  color: $brand-secondary;
  position: relative;
  @include transition-all;
  &:hover {
    color: $brand-hover;
    text-decoration: none;
  }
}

.faq-link,
.a-outdoor {
  color: $brand-out-secondary;
  position: relative;
  @include transition-all;
  &:hover {
    color: $brand-out-hover;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.h1 {
  @include heading-font;
  color: $brand-primary;
}

.h1-outdoor {
  @include heading-font-outdoor;
  color: $brand-out-primary;
}

h2 {
  font-size: 1.25rem;
  @include body-font;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

.shadow {
  @include shadow;
  @include transition-all;
}

.shadow-hover {
  &:hover {
    @include shadow-small;
  }
}

.btn-custom {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border: 2px solid $brand-secondary;
  border-radius: 10rem;
  background: white;
  color: $brand-secondary;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  @include shadow-small;
  @include transition-all;
  &:focus {
    outline: none;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $brand-secondary;
    border-radius: 10rem;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    @include transition-all;
  }
  &:hover {
    color: white;
    background: $brand-hover;
    border: 2px solid $brand-hover;
    @include shadow;
    &:before {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

section {
  padding: 4rem 0 0;
  @include media-breakpoint-up(md) {
    padding: 8rem 0 0;
  }
}

.header {
  position: relative;
  margin-top: 67.5px;
  padding: 4rem 0;
  width: 100%;
  z-index: 1;
  .header-title-home {
    color: white;
    font-size: 12vw;
    @include heading-font;
    @include media-breakpoint-up(sm) {
      font-size: 10vw;
    }
    @include media-breakpoint-up(md) {
      font-size: 8rem;
    }
  }
  .header-title {
    color: white;
    font-size: 8rem;
    @include heading-font;
  }
  .header-title-outdoor {
    color: white;
    font-size: 12vw;
    @include heading-font-outdoor;
  }
  @include media-breakpoint-up(sm) {
    font-size: 10vw;
  }
  @include media-breakpoint-up(md) {
    font-size: 8rem;
    padding: 6rem 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 8rem 0;
  }
}

.cloud {
  position: absolute;
  z-index: -1;
  &.cloud-bottom {
    bottom: 0;
  }
  &.cloud-top {
    top: 0;
  }
}

.contact-cta {
  padding: 2rem;
  border-radius: 0;
  @include shadow-small;
  @include transition-all;
  h1 {
    font-size: 2rem;
  }
  &:hover {
    @include shadow;
  }
  @include media-breakpoint-up(sm) {
    padding: 4rem;
    border-radius: 10rem;
  }
  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 3rem;
    }
  }
}