.header-home {
  background: url("../img/bg/header-home.jpg") center center no-repeat;
  @include background-cover;
  .header-cta {
    background-color: white;
    border-radius: 2rem;
    padding: 1rem 0;
    @include shadow-small;
    .cta-border {
      border-right: 2px solid $gray-lighter;
    }
  }
}

#welcome-home {
  .welcome-image {
    width: 100%;
    height: 25rem;
    border: 0.5rem solid white;
    @include shadow-small;
    @include transition-all;
    &:hover {
      @include shadow;
    }
  }
}

