.header-issues {
  background: url("../img/bg/header-therapies.jpg") center center no-repeat;
  @include background-cover;
}

#key-issues-list {
  .issue-box {
    padding: 2rem;
    @include shadow-small;
    @include transition-all;
    &:hover {
      @include shadow;
    }
    .collapse {
      &.in {
        display: block;
      }
    }
  }
}