@mixin transition-all() {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Rustico';
  src: url('../fonts/rustico-regular-otf.otf') format('otf'),
  url('../fonts/rustico-regular-woff.woff') format('woff');
}

@mixin heading-font {
  font-family: 'Lora', serif;
}

@mixin heading-font-outdoor {
  font-family: 'Rustico', 'Marker Felt', fantasy;
}

@mixin body-font {
  font-family: 'Work Sans', sans-serif;
}

@mixin shadow {
  box-shadow: 0 5px 1.5rem 0 rgba(0, 0, 0, 0.4);
}

@mixin shadow-small {
  box-shadow: 0 5px 1rem 0 rgba(0, 0, 0, 0.25);
}