#mainNav {
  border: none;
  background-color: white;
  padding: 1rem;
  @include shadow-small;
  @include transition-all;
  .nav-logo {
    width: 6rem;
  }
  .hamburger {
    @include body-font;
    font-size: 1rem;
    color: $text-color;
    cursor: pointer;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    line-height: 0;
    display: flex;
    @include transition-all;
    span {
      margin-top: 1rem;
      margin-right: 0.5rem;
    }
    i {
      font-size: 2rem;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      color: $brand-hover;
      @include shadow-small;
    }
  }
  .navbar-nav {
    > li {
      > a {
        font-size: 1rem;
        padding: 1rem 2rem;
        margin: 0.25rem 0;
        border-radius: 2rem;
        &.active {
          color: $brand-secondary;
          &:hover {
            color: $brand-hover;
            @include shadow-small;
          }
        }
      }
      > a,
      > a:focus {
        color: $text-color;
        border-radius: 2rem;
        &:hover {
          color: $brand-hover;
          @include shadow-small;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    background-color: white;
    .navbar-nav > li > a,
    .navbar-nav > li > a:focus {
      color: $text-color;
      padding: 0.5rem 2rem;
      margin: 0 0.25rem;
      border-radius: 2rem;
      &:hover {
        color: $brand-hover;
        @include shadow-small;
      }
    }
    .navbar-nav > li > a.active {
      padding: 0.5rem 2rem;
      margin: 0 0.25rem;
      border-radius: 2rem;
        color: $brand-hover;
        @include shadow-small;
    }
    &.navbar-shrink {
      background-color: white;
      .navbar-nav > li > a,
      .navbar-nav > li > a:focus {
        color: $text-color;
        border-radius: 2rem;
        &:hover {
          color: $brand-hover;
          @include shadow-small;
        }
      }
    }
  }

  .collapse {
    &.in {
      display: block;
      text-align: center;
    }
  }
  .collapsing {
    text-align: center;
  }
}
