.header-outdoor {
  background: url("../img/bg/header-outdoor.jpg") center center no-repeat;
  @include background-cover;
}

#welcome-outdoor {
  padding: 8rem 0;
  .welcome-image {
    width: 100%;
    height: 255px;
    border-radius: 2rem;
    border: 0.5rem solid white;
    @include shadow-small;
    @include transition-all;
    &:hover {
      @include shadow;
    }
  }
}

#about-outdoor {
  padding: 8rem 0;
  position: relative;
  background: url("../img/bg/about-outdoor.jpg") center center no-repeat;
  @include background-cover;
  z-index: 1;
  .about-image {
    width: 100%;
    height: 255px;
    border-radius: 2rem;
    border: 0.5rem solid white;
    @include shadow-small;
    @include transition-all;
    &:hover {
      @include shadow;
    }
  }
}

#faq-outdoor {
  padding: 8rem 0 0;
  .faq-box {
    padding: 1.5rem;
    border-radius: 2rem;
    @include shadow-small;
    @include transition-all;
    &:hover {
      @include shadow;
    }
    .collapse {
      &.in {
        display: block;
      }
    }
  }
}