$brand-primary: #282530;
$brand-secondary: #685C79;
$brand-hover: #DA727E;

$brand-out-primary: #0575E6;
$brand-out-secondary: #00ADA9;
$brand-out-hover: #8AD093;

$brand-success: #0fce00;
$brand-warning: #e27400;
$brand-danger: #ce1b00;

$text-color: #293B47;
$light-gray: #CCCCCC;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee