[viewBag]
snippetCode = "about"
snippetName = "About"
==
<section id="about-home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3 h1">About Me</h1>
                {{about_message| raw}}
            </div>
        </div>
    </div>
</section>