[viewBag]
snippetCode = "header"
snippetName = "Header"
==
<header class="header header-home">
    <div class="text-center d-flex">
        <div class="container my-auto">
            <div class="col-12 mx-auto">
                <div class="header-title-home">Kate Bull Therapy</div>
            </div>
            <div class="col-12 col-lg-8 mx-auto mt-5">
                <div class="row text-center header-cta">
                    <div class="col-12">
                        <a href="/key-issues" class="a-indoor">
                            <h2>View Key Issues</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>