[viewBag]
snippetCode = "therapies"
snippetName = "Therapies"
==
<section id="outdoor-sessions">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3 h1">Outdoor Sessions</h1>
                {{outdoor_message| raw}}
            </div>
        </div>
    </div>
</section>