[viewBag]
snippetCode = "welcome"
snippetName = "Welcome"
==
<section id="welcome-home">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-lg-8 align-self-center">
                <h1 class="mb-3 h1">Welcome to Kate Bull Therapy</h1>
                {{welcome_message| raw}}
            </div>
            <div class="col-12 col-lg-4 align-self-center mt-5 mt-lg-0">
                <a href="{{welcome_image | media}}" data-lightbox="welcome">
                    <div class="welcome-image" style=" background: url('{{welcome_image | media}}') no-repeat center center; background-size: cover;"></div>
                </a>
            </div>
        </div>
    </div>
</section>