description = "Home Layout"

[staticPage]
useContent = 1
default = 0
==
{variable name="welcome_message" label="Welcome Message" type="richeditor" tab="Welcome"}{/variable}

{variable name="welcome_image" label="Welcome Image" type="mediafinder" mode="image" tab="Welcome" span="left"}{/variable}

{variable name="about_message" label="About Message" type="richeditor" tab="About"}{/variable}

{variable name="outdoor_message" label="Outdoor Sessions Message" type="richeditor" tab="Outdoor"}{/variable}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="I believe that everyone has the potential to have good mental health and that they know themselves best and when given the right support they are able to achieve personal growth."/>
    <meta name="keywords"
          content=""/>
    <meta name="name" itemprop="name" content="http://katebulltherapy.com">

    <title>{{ this.page.title }} | Kate Bull Therapy</title>

    <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon">
    <link rel="icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Lora:700|Work+Sans:300,400" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ 'assets/css/app.css'|theme }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% partial 'nav' %}

{% partial 'home/header' %}

{% partial 'home/welcome' %}

{% partial 'home/about' %}

{% partial 'home/issues' %}

{% partial 'home/outdoor' %}

{% partial 'cta' %}

{% partial 'footer' %}

<!-- Scripts -->
<script src="{{ 'assets/javascript/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>