[viewBag]
snippetCode = "header"
snippetName = "Header"
==
<header class="header header-issues">
    <div class="text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="header-title-home">Key Issues</div>
                </div>
            </div>
        </div>
    </div>
</header>