[viewBag]
snippetCode = "intro"
snippetName = "Intro"
==
<section id="therapies-intro">
    <div class="container">
        <h1 class="mb-3 h1">Indoor Practice</h1>
        {{issues_intro| raw}}
    </div>
</section>