[viewBag]
snippetCode = "issues"
snippetName = "Issues"
==
<section id="key-issues-list">
    <div class="container">
        <h1 class="mb-5 h1">Key Issues</h1>
        <div class="row justify-content-center">
            {% for issue in issues %}
            <div class="col-12 col-sm-6 mb-3">
                <div id="issue-box" data-children=".issue-box">
                    <div class="issue-box">
                        <a class="a-indoor" data-toggle="collapse" data-parent="#issue-box" href="#issue-box{{loop.index}}" aria-expanded="true" aria-controls="issue-box{{loop.index}}">
                            <h2 class="text-center issue-link">{{issue.name}}</h2>
                        </a>
                        <div id="issue-box{{loop.index}}" class="collapse" role="tabpanel">
                            <hr>
                            <p class="mt-3 mb-0">{{issue.info|raw}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>