[viewBag]
title = "Home"
url = "/"
layout = "home"
is_hidden = 0
navigation_hidden = 0
welcome_message = "<p>Do you feel Anxious? Do you feel stuck? Do you have a general sense of things not quite being right in life?</p>

<p>Counselling can help you explore the issues that are troubling you. By doing so it can help you better cope with difficult circumstances, emotions or thoughts. You may explore past or present life events, relationships, feelings or ways of thinking. Having a supportive and confidential environment can help you find your own resources and make choices and changes in your life, or understand yourself in more depth.
	<br>
</p>

<p>I believe that everyone has the potential to have good mental health and that they know themselves best and when given the right support they are able to achieve personal growth.</p>"
welcome_image = "/headshot.jpg"
about_message = "<p>I am Kate Bull, a fully qualified Therapeutic Counsellor registered with the BACP (British Association of Counselling and Psychotherapy) and I have a BSc (Hons) in Psychology and a Diploma in Therapeutic Counselling. I work from Laurel House in North Shields and various outdoor locations in the North East.</p>

<p>I believe that everyone has the potential to have good mental health. That they know themselves best and when given the right support they are able to achieve it.</p>

<p>The approach I use in my counselling is integrative, with Transactional Analysis being my main model. In reality this means I pull together different models and theories that will help towards the helping the client reach their goals. Transactional Analysis is a versatile theory that looks at people’s behaviours and their relationships; working under idea that each individual is valuable and has the capacity for positive change and personal growth.</p>

<p>I have a broad base of experience working with people from all age groups and backgrounds, gained from my time spent counselling in a GP’s surgeries, Counselling services and a Women’s Health and Wellbeing Centre within the past 5 years. During this time I have worked with many people experiencing many difficulties, such as anxiety, depression, and trauma and childhood abuse.</p>

<p>I enjoy working with people; so that they can gain a greater understanding of themselves and reach their full potential of mental health wellbeing.</p>

<p>My love of nature and being outdoors and how powerful it can be in increasing our sense of self and it’s healing power; has led me to have outdoor counselling sessions with clients (see the outdoor counselling section for further information).</p>"
outdoor_message = "<p>Nature has a great deal to offer us not only physically but also emotionally. Many ideas of ecopsychology suggest that having access to green space has a positive impact on mental health.</p>

<p><em>\"Spending time in nature provides the space for inward reflection and the potential for transformation as we become conscious of our interconnectivity with the world around us.</em>\" (Jordan, 2016)</p>

<p>I offer Outdoor therapy sessions based in Natural environments. Sessions take place in various settings in the North East; such as beaches in South Shields and Tynemouth areas and also Jesmond Dene Park.</p>

<p>If the weather is bad we will aim to walk in more sheltered areas. Walking when the weather is bad can also give an added sense of achievement and may influence your outlook on the work you are doing in the counselling. If the weather is extreme we can re-arrange our appointment if required.</p>

<p>You don’t need to have to be particularly fit to participate in outdoor therapy as the sessions are held at a pace that is comfortable for you. The routes will be planned so that there are benches to sit on if required.</p>"
==