[viewBag]
title = "Outdoor Sessions"
url = "/outdoor-sessions"
layout = "outdoors"
is_hidden = 0
navigation_hidden = 0
welcome_message = "<p>Hi and welcome to Walk &amp; Talk North East. I’m Kate, a BACP registered therapeutic counsellor. I personally enjoy spending time outdoors, especially at the wonderful North East coastline. Surrounded by lots of natural beauty it’s easy to follow your feet and let your mind wander, mulling over life’s issues.</p>

<p>I have often worked through issues when I’m out walking and would like to offer people the opportunity of experiencing the benefits of walking, coupled with having a trained professional alongside them; helping them work through their own issues.</p>

<p>I have counselled in a GP’s surgery, women’s centres and counselling services; working with people around many different issues. I have a degree in Psychology (BSc), a diploma in Therapeutic Counselling and have spent over six years working with families for a national charity.</p>

<p>I offer brief and long term counselling using psychotherapeutic techniques, being lead by you to help you reach your own goal. I also offer one-off sessions if you just need to talk something over to get things clear in your mind. If you feel that Walk &amp; Talk counselling is for you please contact me either by filling out the contact form at the bottom of this page, telephone, or Facebook.</p>"
welcome_image1 = "/headshot.jpg"
welcome_image2 = "/cleadon.jpg"
welcome_image3 = "/marsden.jpg"
welcome_image4 = "/marsden2.jpg"
about_us = "<p>Nature has a great deal to offer us not only physically but also emotionally. Many ideas of ecopsychology suggest that having access to green space has a positive impact on mental health.</p>

<p><em>\"Spending time in nature provides the space for inward reflection and the potential for transformation as we become conscious of our interconnectivity with the world around us.\"&nbsp;</em>(Jordan, 2016)</p>

<p>I offer Outdoor therapy sessions based in Natural environments. Sessions take place in various settings in the North East; such as beaches in South Shields and Tynemouth areas and also Jesmond Dene Park.</p>

<p>If the weather is bad we will aim to walk in more sheltered areas. Walking when the weather is bad can also give an added sense of achievement and may influence your outlook on the work you are doing in the counselling. If the weather is extreme we can re-arrange our appointment if required.</p>

<p>You don’t need to have to be particularly fit to participate in outdoor therapy as the sessions are held at a pace that is comfortable for you. The routes will be planned so that there are benches to sit on if required.</p>"
about_image1 = "/outdoors.jpg"
about_image2 = "/outdoors2.jpg"
about_image3 = "/seafront.jpg"
about_image4 = "/sycamore-gap.jpg"
faqs[0][question] = "Where do we walk?"
faqs[0][answer] = "I am based in South Shields and walks will take place in Public parks and coastal paths along the seafront. I can also travel further afield to North Tyneside, Sunderland and Newcastle. If you are interested in Walk and Talk in these areas please contact me and we can discuss things further."
faqs[1][question] = "What happens if I see someone I know?"
faqs[1][answer] = "This is something we will discuss on a one to one basis. Generally it will be whatever you are most comfortable with; a quick hello, a nod of recognition etc."
faqs[2][question] = "What if the weather is bad?"
faqs[2][answer] = "If the weather is bad we will aim to walk in more sheltered areas. Walking when the weather is bad can also give an added sense of achievement and may influence your outlook on the work you are doing in the counselling. If the weather is extreme we can re-arrange our appointment if required."
faqs[3][question] = "How long will a session be?"
faqs[3][answer] = "Sessions last for 1 hour."
faqs[4][question] = "Do I need to be fit to participate?"
faqs[4][answer] = "No. The sessions are held at a pace that is comfortable for you. The routes will be planned so that there are benches to sit on if required."
faqs[5][question] = "What do I need to wear?"
faqs[5][answer] = "I pair of shoes that you are comfortable walking in and clothes that are appropriate for the weather."
faqs[6][question] = "When do you work?"
faqs[6][answer] = "Generally in the daylight hours Monday-Friday and a Saturday morning. If you have a specific time you feel would suit you best get in touch and we can discuss availability."
faqs[7][question] = "What is the cost?"
faqs[7][answer] = "The cost of a session is £40."
faqs[8][question] = "What happens in a session?"
faqs[8][answer] = "We will meet in a pre-arranged place and begin our walk from then, the route will be circular ending at our start point. During the sessions we will identify your goals and begin the therapeutic work."
==