[viewBag]
id = "key-issues"
title = "Key Issues"
url = "/key-issues"
layout = "issues"
is_hidden = 0
navigation_hidden = 0
issues_intro = "<p>My indoor practice is at Laurel House in North Shields, a discreet building in the town center on a quiet street. There is parking in the square nearby and it is easily accessible by public transport.</p>

<p>My approach is to put you at the centre of the counselling, to help you identify problems and any crises, to encourage you to take positive steps to resolve these issues. Throughout the process of counselling you will gain an understanding of your own thoughts, emotions, behaviors and the relationship you have with others.</p>"
issues[0][name] = "Anxiety"
issues[0][info] = "<p>Anxiety is a feeling that we all have on occasions, it is when we feel scared, worried or a feelings of tension. These feelings can be related to things that are going to happen or what we imagine could happen. Anxiety is a natural response to situations in which we feel under threat and can be felt as physical sensations or in or thoughts or emotions. &nbsp;This reaction is known as the Fight, Flight or Freeze response and is seen as a response to an incident that is terrifying either physically or mentally. &nbsp;Some people can pinpoint the trigger point for their anxiety; such a traumatic incident, however others might find it difficult to know where their anxiety comes from.</p>

<p>Anxiety can become a problem when you have these feelings a lot of the time or they are particularly strong.&nbsp;</p>

<p>Symptoms of anxiety</p>

<ul>
	<li>rapid and/or irregular heartbeat</li>
	<li>fast breathing</li>
	<li>sweating</li>
	<li>nausea</li>
	<li>dizziness</li>
	<li>trouble sleeping</li>
	<li>feeling irritable</li>
	<li>lack of concentration</li>
	<li>panic attacks</li>
</ul>

<p>
	<br>
</p>

<p>Coming to counselling can help you cope with your anxiety; I can help look at your triggers, your coping strategies and your awareness. The work to reduce your anxiety would be personal to you &nbsp;and based on your own experiences.</p>"
issues[1][name] = "Depression"
issues[1][info] = "<p>We all feel sad from time to time; however depression is when low mood lasts for a longer period of time. This can affect you by making your day to day life difficult or to a point where getting out of bed can be a challenge. A person with depression may experience hopelessness, a feeling of numbness, helplessness and negativity.</p>

<p>Symptoms</p>

<ul type=\"disc\">
	<li>Feelings of sadness or irritability</li>
	<li>Loss of interest in sex and activities once enjoyed</li>
	<li>Changes of weight or appetite</li>
	<li>Changes in sleeping patterns</li>
	<li>Feeling guilty, hopeless or worthless</li>
	<li>Inability to concentrate, remember things, or make decisions</li>
	<li>Fatigue or loss of energy</li>
	<li>Restlessness or decreased activity noticed by others</li>
	<li>Thoughts of suicide or death</li>
</ul>

<p>
	<br>
</p>

<p>If you have depression I can help using cognitive behavioural tools to help you understand your thinking style and look at your behaviours. It can also be helpful to look at your internal psychological conflicts which may be rooted in your past.</p>"
issues[2][name] = "Panic Attack / Panic Disorder"
issues[2][info] = "<p>Anxiety and feelings of Panic are natural responses to situations in which we feel under threat and can be felt as physical sensations or in or thoughts or emotions and can result in a panic attack. &nbsp;This reaction is known as the Fight, Flight or Freeze response and is seen as a response to an incident that is terrifying either physically or mentally. However for some people they become overwhelmed with feelings of panic, fear, stress and anxiety. Panic attacks can be extremely frightening for people, with many people feeling as if they are going to have a heart attack as their heart is racing so much. &nbsp;People who have regular panic attacks may be suffering from Panic Disorder.</p>

<p>Symptoms (not a definitive list)</p>

<ul>
	<li>A feeling of overwhelming fear</li>
	<li>Fear that you are going crazy, going to die, or pass out</li>
	<li>Feeling like you are in grave danger</li>
	<li>Feeling like you are dying</li>
	<li>Feeling you might pass out</li>
	<li>An overpowering sense of dread</li>
	<li>Feeling like you need to urgently escape</li>
	<li>Dizziness</li>
	<li>Heart Palpitations</li>
	<li>Trembling, shaking</li>
	<li>Sweating</li>
	<li>Shortness of breath</li>
	<li>Chest pressure or pain</li>
</ul>

<p>
	<br>
</p>

<p>I can help you with your panic attacks by focusing on the negative thinking patterns and behaviours that may be are triggering your panic attacks. I will help you look at your panic attacks and fears in a more logical way, help you with coping skills with the aim to help you deal more effectively with future attacks. I could also work with you to help you look at any underlying anxiety that may be triggering your panic attacks.</p>"
==