<section id="cta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row contact-cta">
                    <div class="col-12 col-sm-6 col-md-8 d-flex align-items-center">
                        <h1 class="h1">Want to know more?</h1>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-center mt-3 mt-sm-0">
                        <a href="/contact" class="btn btn-custom">Get in touch!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>