[viewBag]
snippetCode = "nav"
snippetName = "Navbar"
==
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a href="/">
            <img src="{{ 'assets/img/logo/logo.svg'|theme }}" class="nav-logo" alt="Logo">
        </a>
        <button id="button" class="navbar-toggler navbar-toggler-right hamburger d-lg-none d-xl-none" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span>Menu</span>
            <i class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if this.page.url == '/' %}
                    <a class="active nav-link" href="/">Home</a>
                    {% else %}
                    <a class="nav-link" href="/">Home</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if this.page.url == '/key-issues' %}
                    <a class="active nav-link" href="/key-issues">Key Issues</a>
                    {% else %}
                    <a class="nav-link" href="/key-issues">Key Issues</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if this.page.url == '/outdoor-sessions' %}
                    <a class="active nav-link" href="/outdoor-sessions">Outdoor Sessions</a>
                    {% else %}
                    <a class="nav-link" href="/outdoor-sessions">Outdoor Sessions</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if this.page.id == 'events' %}
                    <a class="active nav-link" href="/events">Events</a>
                    {% else %}
                    <a class="nav-link" href="/events">Events</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if this.page.id == 'contact' %}
                    <a class="active nav-link" href="/contact">Contact</a>
                    {% else %}
                    <a class="nav-link" href="/contact">Contact</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if this.page.id == 'blog' %}
                    <a class="active nav-link" href="/blog/all">Blog</a>
                    {% else %}
                    <a class="nav-link" href="/blog/all">Blog</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>