[builderList]
modelClass = "Bluecookie\Events\Models\Event"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "event-details"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[viewBag]
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<section id="events-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="upcoming">
                    <h1 class="mb-3 h1">Upcoming Events</h1>
                    <div class="row">
                        {% for record in records %}
                        {% if record.date >= "now"|date("Y-m-d") %}
                        <div class="col-md-12 col-xl-6">
                            <div class="post mb-5">
                                <div class="blog-image-container">
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                        {% if record.event_image is null %}
                                        <div style="background-image: url({{ 'assets/img/event-placeholder.png'|theme }});" class="blog-image"></div>
                                        {% else %}
                                        <div style="background-image: url('{{record.event_image.path}}');" class="blog-image"></div>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="post-info text-center">
                                    <h2 class="section-heading"><a href="{{ post.url }}" class="a-indoor">{{record.name}}</a></h2>
                                    <div class="event-info">
                                        <p>{{record.short_description}}</p>
                                        <p class="text-muted">{{record.date|date("d-m-Y")}}</p>
                                    </div>
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-custom mt-3">View</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="past mt-5">
                    <h1 class="mb-3 h1">Past Events</h1>
                    <div class="row">
                        {% for record in records %}
                        {% if record.date < "now"|date("Y-m-d") %}
                        <div class="col-md-12 col-xl-6">
                            <div class="post mb-5">
                                <div class="blog-image-container">
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                                        {% if record.event_image is null %}
                                        <div style="background-image: url({{ 'assets/img/event-placeholder.png'|theme }});" class="blog-image"></div>
                                        {% else %}
                                        <div style="background-image: url('{{record.event_image.path}}');" class="blog-image"></div>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="post-info text-center">
                                    <h2 class="section-heading"><a href="{{ post.url }}" class="a-indoor">{{record.name}}</a></h2>
                                    <div class="event-info">
                                        <p>{{record.short_description}}</p>
                                        <p class="text-muted">{{record.date|date("d-m-Y")}}</p>
                                    </div>
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-custom mt-3">View</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


