<header class="header header-events text-center d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <div class="header-title-home">Events</div>
            </div>
        </div>
    </div>
</header>