{% if record.event_image is null %}
<header class="header text-center d-flex" style="background: url({{ 'assets/img/bg/header-home.jpg'|theme }}) center center no-repeat; background-size: cover;">
    {% else %}
    <header class="header text-center d-flex" style="background: url({{ record.event_image.path }}) center center no-repeat; background-size: cover;">
        {% endif %}
        <div class="container my-auto">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="header-title"> {{ record.name }}</div>
                </div>
            </div>
        </div>
    </header>