<div class="contact-form">
    <form data-request="{{ __SELF__ }}::onFormSubmit">
        <div class="row">
            <div class="col-lg-12">
                {{ form_token() }}
                <div id="{{ __SELF__ }}_forms_flash"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Your Name *</label>
                    <input name="name" id="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Your Email *</label>
                    <input name="email" type="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phone">Your Phone</label>
                    <input name="phone" type="tel" id="phone" class="form-control">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="message">Your Message *</label>
                    <textarea name="message" type="text" id="message" class="form-control" required></textarea>
                </div>
                <div class="captcha">
                    {% partial '@recaptcha' %}
                </div>
                <button type="submit" class="btn btn-custom">Submit</button>
            </div>
        </div>
        <p class="mt-3">* Required fields</p>
    </form>
</div>