title = "Blog Categories"
url = "/blog/categories/:slug/:page?"
layout = "blog-categories"
is_hidden = 0
==
<section id="blog-cat-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/blog/all" class="a-indoor">
                            <div class="w-100">
                                <div class="blog-cat text-center">
                                    <h2>Show All</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% for category in categories %}
                    {% set postCount = category.post_count %}
                    <div class="col-12 mt-3">
                        <a href="{{ category.url }}" class="a-indoor">
                            <div class="w-100">
                                <div class="blog-cat text-center">
                                    <h2>{{ category.name }} -
                                        {% if postCount %}
                                        <span class="badge">{{ postCount }}</span>
                                        {% endif %}
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xl-9 col-md-8 col-12">
                {% set posts = blogPosts.posts %}
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-12 col-xl-6">
                        <div class="post mb-5">
                            <div class="blog-image-container">
                                <a href="{{ post.url }}">
                                    <div style="background-image: url('{{post.featured_images[0].path}}');" class="blog-image"></div>
                                </a>
                            </div>
                            <div class="post-info text-center">
                                <h2 class="section-heading"><a href="{{ post.url }}" class="a-indoor">{{ post.title }}</a></h2>
                                <ul class="list-inline blog-info">
                                    <li class="blog-author list-inline-item">{{ post.user.first_name }} {{ post.user.last_name }}</li>
                                    <li class="list-inline-item">-</li>
                                    <li class="blog-date list-inline-item">{{ post.published_at|date('M d, Y') }}</li>
                                    <li class="list-inline-item">-</li>
                                    <li class="blog-category list-inline-item">
                                        {% for category in post.categories %}
                                        <a href="{{ category.url }}" class="a-indoor">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                                <a href="{{ post.url }}" class="btn btn-custom mt-3">View</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% partial 'blog/pagination' %}

            </div>

        </div>
    </div>
</section>