title = "Blog Categories Default"
url = "/blog/categories"
layout = "blog-categories"
is_hidden = 0
==
<section id="blog-cat-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-md-4 col-12">
                <div class="row">
                    <div class="col-12">
                        <a href="/blog/all" class="a-indoor">
                            <div class="w-100">
                                <div class="blog-cat text-center">
                                    <h2>Show All</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% for category in categories %}
                    {% set postCount = category.post_count %}
                    <div class="col-12 mt-3">
                        <a href="{{ category.url }}" class="a-indoor">
                            <div class="w-100">
                                <div class="blog-cat text-center">
                                    <h2>{{ category.name }} -
                                        {% if postCount %}
                                        <span class="badge">{{ postCount }}</span>
                                        {% endif %}
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>