title = "Blog"
url = "/blog/all/:page?"
layout = "blog"
is_hidden = 0
==
<section id="blog-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">

                {% set posts = blogPosts.posts %}
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-12 col-xl-6">
                        <div class="post mb-5">
                            <div class="blog-image-container">
                                <a href="{{ post.url }}">
                                    <div style="background-image: url('{{post.featured_images[0].path}}');" class="blog-image"></div>
                                </a>
                            </div>
                            <div class="post-info text-center">
                                <h2 class="section-heading"><a href="{{ post.url }}" class="a-indoor">{{ post.title }}</a></h2>
                                <ul class="list-inline blog-info">
                                    <li class="blog-author list-inline-item">{{ post.user.first_name }} {{ post.user.last_name }}</li>
                                    <li class="list-inline-item">-</li>
                                    <li class="blog-date list-inline-item">{{ post.published_at|date('M d, Y') }}</li>
                                </ul>
                                <a href="{{ post.url }}" class="btn btn-custom mt-3">View</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>