title = "Blog Post"
url = "/blog/:slug"
layout = "blog-post"
is_hidden = 0
==
<section id="post-page">
  <div class="container">
    {% set post = blogPost.post %}

    <h1 class="mb-3 h1">{{ post.published_at|date('M d, Y') }}</h1>

    <div class="content">
      <p>{{ post.content_html|raw }}</p>
    </div>
  </div>
</section>

<section id="sharing">
  <div class="container">
    <div class="blog-share-section text-center mt-5">
      <div class="col-xl-12">
        <h1 class="title">Share this post:</h1>
        <div class="row mt-5">
          <div class="col-md-3 col-sm-6">
            <div class="share-container">
              <a class="share-details a-indoor" href="https://www.facebook.com/sharer.php?u={{ url_full() }}" target="_blank">
                <div class="box">
                  <img class="mb-3" src="{{ 'assets/img/icons/facebook.svg'|theme }}" alt="Facebook">
                  <h2>Facebook</h2>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mt-3 mt-sm-0">
            <div class="share-container">
              <a class="share-details a-indoor" href="https://twitter.com/share?url={{ url_full() }}&text={{ post.title }}" target="_blank">
                <div class="box">
                  <img class="mb-3" src="{{ 'assets/img/icons/twitter.svg'|theme }}" alt="Twitter">
                  <h2>Twitter</h2>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mt-3 mt-sm-3 mt-md-0">
            <div class="share-container">
              <a class="share-details a-indoor" href="https://plus.google.com/share?url={{ url_full() }}" target="_blank">
                <div class="box">
                  <img class="mb-3" src="{{ 'assets/img/icons/google.svg'|theme }}" alt="Google">
                  <h2>Google</h2>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mt-3 mt-sm-3 mt-md-0">
            <div class="share-container">
              <a class="share-details a-indoor" href="https://www.linkedin.com/shareArticle?url={{ url_full() }}&title={{ post.title }}" target="_blank">
                <div class="box">
                  <img class="mb-3" src="{{ 'assets/img/icons/linkedin.svg'|theme }}" alt="LinkedIn">
                  <h2>LinkedIn</h2>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>