title = "Contact"
url = "/contact"
layout = "contact"
is_hidden = 0

[emptyForm]
rules[name] = "required"
rules[email] = "required|email"
rules[message] = "required"
rules_messages[name] = "Please provide your name."
rules_messages[email] = "Please provide a valid email address."
rules_messages[message] = "Please provide a message."
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_subject = "Website Enquiry"
mail_recipients[] = "info@katebulltherapies.co.uk"
mail_resp_enabled = 0
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 1
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!--<section id="contact-form">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-12">-->
                <!--<h1 class="mb-3 h1">Get in touch!</h1>-->
                <!--<div class="form">-->
                    <!--{% component 'emptyForm' %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<section id="get-in-touch">
    <div class="container">
        <h1 class="mb-3 h1">Get in touch!</h1>
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <div class="price-box">
                    <h2><a href="tel://07958787514" class="footer-link a-indoor">07958 787514</a></h2>
                    <strong class="mb-0">Call me</strong>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="price-box mt-3 mt-md-0">
                    <h2><a href="mailto:info@katebulltherapies.co.uk" class="footer-link a-indoor">info@katebulltherapies.co.uk</a></h2>
                    <strong class="mb-0">Email me</strong>
                </div>
            </div>
        </div>
    </div>
</section>