title = "Event Details"
url = "/events/:slug"
layout = "events"
is_hidden = 0

[builderDetails]
modelClass = "Bluecookie\Events\Models\Event"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% partial 'events/post-header' %}

<section id="event-page">
    <div class="container">
        {% if record %}

        <h1 class="mb-3 h1">{{record.date|date("d-m-Y")}}</h1>

        <div class="mt-5">
            <div class="content">
                {{record.description|raw}}
            </div>
        </div>

        {% endif %}
    </div>
</section>

<section id="sharing">
    <div class="container">
        <div class="blog-share-section text-center mt-5">
            <div class="col-xl-12">
                <h1 class="title">Share this post:</h1>
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-6">
                        <div class="share-container">
                            <a class="share-details a-indoor" href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" target="_blank">
                                <div class="box">
                                    <img class="mb-3" src="{{ 'assets/img/icons/facebook.svg'|theme }}" alt="Facebook">
                                    <h2>Facebook</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-3 mt-sm-0">
                        <div class="share-container">
                            <a class="share-details a-indoor" href="https://twitter.com/home?status={{ post.url }}" target="_blank">
                                <div class="box">
                                    <img class="mb-3" src="{{ 'assets/img/icons/twitter.svg'|theme }}" alt="Twitter">
                                    <h2>Twitter</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-3 mt-sm-3 mt-md-0">
                        <div class="share-container">
                            <a class="share-details a-indoor" href="https://plus.google.com/share?url={{ post.url }}" target="_blank">
                                <div class="box">
                                    <img class="mb-3" src="{{ 'assets/img/icons/google.svg'|theme }}" alt="Google">
                                    <h2>Google</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-3 mt-sm-3 mt-md-0">
                        <div class="share-container">
                            <a class="share-details a-indoor" href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.url }}&title={{ post.title }}&summary=&source=" target="_blank">
                                <div class="box">
                                    <img class="mb-3" src="{{ 'assets/img/icons/linkedin.svg'|theme }}" alt="LinkedIn">
                                    <h2>LinkedIn</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("url").innerHTML = window.location.href;
</script>