[viewBag]
snippetCode = "about"
snippetName = "About"
==
<section id="about-outdoor">
    <img src="{{ 'assets/img/outdoor/cloud-top.png'|theme }}" class="w-100 cloud cloud-top" alt="Cloud">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 align-self-center mt-5 mt-lg-0 order-2 order-lg-1">
                <div class="row mb-3">
                    <div class="col-12 col-sm-6">
                        <a href="{{about_image1 | media}}" data-lightbox="about">
                            <div class="about-image about-image1" style=" background: url('{{about_image1 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <a href="{{about_image2 | media}}" data-lightbox="about">
                            <div class="about-image about-image2" style=" background: url('{{about_image2 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a href="{{about_image3 | media}}" data-lightbox="about">
                            <div class="about-image about-image3" style=" background: url('{{about_image3 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <a href="{{about_image4 | media}}" data-lightbox="about">
                            <div class="about-image about-image4" style=" background: url('{{about_image4 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 align-self-center order-1 order-lg-2">
                <h1 class="mb-3 h1-outdoor">What is outdoor therapy?</h1>
                {{about_us| raw}}
            </div>
        </div>
    </div>
    <img src="{{ 'assets/img/outdoor/cloud-bottom.png'|theme }}" class="w-100 cloud cloud-bottom" alt="Cloud">
</section>