[viewBag]
snippetCode = "treatments"
snippetName = "Treatments"
==
<section id="faq-outdoor">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3 h1-outdoor">FAQ</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for faq in faqs %}
            <div class="col-12 col-sm-6 col-lg-4 mb-3">
                <div id="faq-box" data-children=".faq-box">
                    <div class="faq-box">
                        <a data-toggle="collapse" data-parent="#faq-box" href="#faq-box{{loop.index}}" aria-expanded="true" aria-controls="faq-box{{loop.index}}">
                            <h2 class="text-center faq-link">{{faq.question}}</h2>
                        </a>
                        <div id="faq-box{{loop.index}}" class="collapse" role="tabpanel">
                            <hr>
                            <p class="mt-3 mb-0">{{faq.answer}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
