[viewBag]
snippetCode = "header"
snippetName = "Header"
==
<header class="header header-outdoor">
    <div class="text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="header-title-outdoor">Outdoor Sessions</div>
                </div>
            </div>
        </div>
    </div>
    <img src="{{ 'assets/img/outdoor/cloud-bottom.png'|theme }}" class="w-100 cloud cloud-bottom" alt="Cloud">
</header>