[viewBag]
snippetCode = "welcome"
snippetName = "Welcome"
==
<section id="welcome-outdoor">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 align-self-center">
                <h1 class="mb-3 h1-outdoor">Outdoor Therapy</h1>
                {{welcome_message| raw}}
            </div>
            <div class="col-12 col-lg-6 align-self-center mt-5 mt-lg-0">
                <div class="row mb-3">
                    <div class="col-12 col-sm-6">
                        <a href="{{welcome_image1 | media}}" data-lightbox="welcome">
                            <div class="welcome-image welcome-image1" style=" background: url('{{welcome_image1 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <a href="{{welcome_image2 | media}}" data-lightbox="welcome">
                            <div class="welcome-image welcome-image2" style=" background: url('{{welcome_image2 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a href="{{welcome_image3 | media}}" data-lightbox="welcome">
                            <div class="welcome-image welcome-image3" style=" background: url('{{welcome_image3 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <a href="{{welcome_image4 | media}}" data-lightbox="welcome">
                            <div class="welcome-image welcome-image4" style=" background: url('{{welcome_image4 | media}}') no-repeat center center; background-size: cover;"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>