<header class="header header-blog">
    <div class="text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="header-title-home">Blog</div>
                </div>
            </div>
        </div>
    </div>
</header>