<header class="header header-blog-post" style="background-image: url('{{post.featured_images[0].path}}');">
    <div class="text-center d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="header-title-home">{{ post.title }}</div>
                </div>
            </div>
        </div>
    </div>
</header>