<section>
    <div class="container">
        <h1 class="mb-3 h1">Visit me!</h1>
        <div id="map"></div>
        <script>
            function initMap() {
                var location = {lat: 55.010653, lng: -1.449792};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: location,
                    scrollwheel: false,
                    gestureHandling: 'cooperative'
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
        </script>
    </div>
</section>