<section id="prices">
    <div class="container">
        <h1 class="mb-3 h1">Prices</h1>
        <div class="row text-center">
            <div class="col-12 col-md-6">
                <div class="price-box">
                    <h2>Indoor Session</h2>
                    <strong class="mb-0">50 minutes - £40</strong>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="price-box mt-3 mt-md-0">
                    <h2>Outdoor Session</h2>
                    <strong class="mb-0">1 hour - £40</strong>
                </div>
            </div>
        </div>
    </div>
</section>